# Data Science Tools and Ecosystem

In this notebook, Data science tools and Ecosystem are summarized

Some of the essential learning during this course

<b>Objectives:</b>

- List popular languages for data science
- Identify Data Science tools
- Learn how to evaluate arithmetic expressions
- Run existing codes

Some of the popular languages that Data scientist use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists Include:

1. Pandas
2. Seaborn
3. NumPy

Data Science Tools:
-------------------
1. Pytorch         
2. Keras           
3. TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python:

This is a simple arithmetic expression to multiply then add integers

In [42]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [54]:
200/60

3.3333333333333335

## Author
Miguel Santiago Braga Solis